* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


body {
    background-color: #eee1d5;
}

p {
    color: rgb(255, 255, 255);
}

.purple-bg {
    background-color: rgb(211, 163, 230);
}

#first-div {
    background-color: #d4c1af;
}