#header-div {
    /* Font Family */
    font-family: "Protest Strike", sans-serif;
    background-color: #ebe2d2;
    color: #3e3e3e;
    font-size: 75px;
    /* Rounded Corners */
    border-radius: 15px;
    /* Adds space below */
    margin-bottom: 20px;
    /* Adds space above */
    margin-top: 80px;
}

/* First div specific background */
#first-div {
    background-color: #ecdfc8;
    /* Rounded corners for each div */
    border-radius: 15px;
    /* Inner spacing */
    padding: 20px;
    /* Adds Margin to Bottom of Div */
    margin-bottom: 20px;
}

/* Second div specific background */
#second-div {
    background-color: #e0c7b1;
    /* Rounded corners for each div */
    border-radius: 15px;
    /* Inner spacing */
    padding: 20px;
    /* Adds Margin to Bottom of Div */
    margin-bottom: 20px;
}

/* Third div specific color */
#third-div {
    background-color: #f2d6c5;
    /* Rounded corners for each div */
    border-radius: 15px;
    /* Inner spacing */
    padding: 20px;
    /* Adds Margin to Bottom of Div */
    margin-bottom: 20px;
}